# Created by .ignore support plugin (hsz.mobi)

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/
*/gulp/*/dist/

# production
/build
/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# IDEA
.idea/
YX-JS-ToolKit.iml