<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Schedule Task Generator</title>

	<style>
		ul
		{
			list-style-type: none;
			padding: 0;
			background: lightgray;
			margin: 3px;
		}
		iframe
		{
			display: none;
		}
		.schedule-list
		{
			max-height: 45vh;
			overflow: auto;
			border-radius: 2px;
		}
		#scheduleList.allCleaned
		{
			color: lightslategrey;
		}
		.cleaned
		{
			text-decoration: line-through;
		}
	</style>
</head>
<body>
<div id="taskApp">
	<select v-model="selectedId">
		<option disabled value="">ID:</option>
		<option v-for="(item, index) in config"
						:key="item.id"
						:value="item.id">{{item.id}}</option>
	</select>

	<template v-if="config[this.selectedId]">
		<template v-for="(value, key) in config[this.selectedId].scheduleParams" :key="selector">
			<select v-model="value.selected" @change="updateScheduleList(value.selected)">
				<option disabled value="">{{key}}</option>
				<option v-for="listItem in value.list"
								:key="listItem"
								:value="listItem">{{listItem}}</option>
			</select>
		</template>
	</template>

	<template v-if="selectedId === 'nba'">
		<button @click="getFirstDayOfWeek(-1)">Prev Week</button>
		<button @click="getFirstDayOfWeek(1)">Next Week</button>
	</template>

	<div class="schedule-list">
		<ul id="scheduleList" :class="{allCleaned: (scheduleListState.length && scheduleListState.indexOf(false) < 0)}">
			<li v-for="(item, index) in scheduleList" :key="item" :class="{cleaned: scheduleListState[index]}">{{item}}</li>
		</ul>
	</div>
	<label >Remove: <input v-model="isRemoveSource" type="checkbox" title="remove source"></label>
	<button @click="cleanFeeds()">Click to clean Feeds</button>
	<div v-if="isCleaning">
		<template v-for="(cleanItem, index) in scheduleCleanUrls">
			<iframe @load="cleanFeedReady(scheduleList[index])" :src="cleanItem" frameborder="0"></iframe>
		</template>
	</div>
	<button @click="copyScheduleList()">Copy To Clipboard</button>
	<div v-if="isCopied">Schedule List copyed to clipboard!</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="scripts/schedule.js"></script>
<script>
	var vmList = new Vue({
		el: '#taskApp',
		data: function () {
			return {
				config: generators,
				selectedId: '',
				scheduleList: [],
				scheduleListState: [],
				scheduleListOffset: 0,
				isRemoveSource: false,
				isCleaning: false,
				isCopied: false,
				scheduleCleanUrls: [],
				CLEAN_FEED_URL: 'https://feed.neulion.com.cn/fs/recorder/clean.do?siteId={{siteId}}&eventId={{eventId}}&remove={{remove}}'
			}
		},
		watch: {
			selectedId: function ()
			{
				this.updateScheduleList();
				this.scheduleListOffset = 0;
			},
			isCleaning: function (newValue, oldValue)
			{
				if (!oldValue && newValue)
				{
					var that = this;
					this.scheduleCleanUrls = this.scheduleList.map(function (item) {
						var schedule = item.trim().split(',');
						return that.CLEAN_FEED_URL.replace('{{siteId}}', schedule[0])
								.replace('{{eventId}}', schedule[1])
								.replace('{{remove}}', that.isRemoveSource ? 'true' : 'false');
					});
				}
			}
		},
		computed: {
			scheduleInfo: function ()
			{

			}
		},
		methods: {
			initScheduleState: function ()
			{
				this.scheduleListState = this.scheduleList.map(function (){
					return false;
				});
			},
			updateScheduleList: function (date) {
				var that = this;
				this.isCopied = false;

				if (this.selectedId === 'nba')
				{
					date = this.config[this.selectedId].getDate(date);
					if (this.config[this.selectedId].scheduleParams.date.list.indexOf(date) < 0)
					{
						this.config[this.selectedId].scheduleParams.date.list.push(date);
						this.config[this.selectedId].scheduleParams.date.list.sort(function (a, b) {
							return a > b;
						});
					}
					this.config[this.selectedId].scheduleParams.date.selected = date;
				}

				generateTask(this.selectedId, function (dataArray) {
					that.scheduleList = dataArray;
				}, date);
				this.isCleaning = false;
				this.scheduleList = [];
				this.scheduleListState = [];
			},
			cleanFeeds: function ()
			{
				this.isCleaning = true;
				this.initScheduleState();
			},
			cleanFeedReady: function (feed) {
				this.scheduleListState.splice(this.scheduleList.indexOf(feed), 1, true);
			},
			getFirstDayOfWeek: function (offset) {
				this.scheduleListOffset += offset;
				var thatDateTime = (new Date()).getTime() + 7 * this.scheduleListOffset * 24 * 60 * 60 * 1000,
						thatDateStr = getFirstDayOfTheWeek(new Date(thatDateTime));
				this.updateScheduleList(thatDateStr);
			},
			copyScheduleList: function ()
			{
				var copiedElement = document.querySelector('#' + 'scheduleList'),
						range = document.createRange();
				range.selectNode(copiedElement);
				window.getSelection().addRange(range);

				try
				{
					// Selected the required text, execute the copy command
					var successful = document.execCommand('copy'),
							msg = successful ? 'successful' : 'unsuccessful';
					console.log('Copy command was ' + msg);
					this.isCopied = successful;
				}
				catch (err)
				{
					console.log('Oops, unable to copy');
				}

				// Remove the selections - NOTE: Should use removeRange(range) when it is supported
				window.getSelection().removeAllRanges();
			}
		}
	});
	vmList.selectedId = 'nba';

</script>
</body>
</html>