/* one */
.owl-carousel .item
{
	height: auto;
}
.owl-carousel .owl-nav
{
	margin: 0;
}
.owl-carousel .owl-nav [class*=owl-]
{
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;
	opacity: 0.6;
	margin: 0;
	background-color: rgba(53, 85, 33, 0.5);
	background-image: url(../images/nav_left.png);
	background-image: image-set(url(../images/nav_left.png) 1x, url(../images/nav_left@2x.png) 2x);
	background-image: -webkit-image-set(url(../images/nav_left.png) 1x, url(../images/nav_left@2x.png) 2x);
	background-size: 15px 26px;
	background-repeat: no-repeat;
}
.owl-carousel .owl-nav .owl-prev
{
	left: 0;
	background-position: calc(100% - 16px) center;
}
.owl-carousel .owl-nav .owl-next
{
	right: 0;
	background-position: 16px center;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.owl-carousel .owl-dots
{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	pointer-events: none;
}
.owl-carousel .owl-dots .owl-dot
{
	pointer-events: auto;
}